body {
  font-family:sans-serif;
}

h1{
  text-align:center;
  font-weight:normal;
  font-size: 40px;
}

p{
  font-size:20px;
}

#leafy{
  color:#1d6e09;
  text-decoration: #1d6e09 underline;
}
.latin{
  font-style: italic;
}
h2{
  text-transform:uppercase;
}
a{
  text-decoration:none;
  color:orange;
}
a:hover{
  color:red;
  text-decoration:underline;
}

ul{
  list-style:square;
}
