.btn {
  border: 2px solid black;
  color: orangered;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 30px;
  background-color: white;
  transition: transform 3s ease-out;
}

.btn:hover {
  transform: translateX(100px);
}
