body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px 150px 20px 150px;
    background-image: url('pexels-ben-mack-5707732.jpg');
    background-size: cover; 
    background-position:center;
    background-repeat: no-repeat;
    width:800px;
    height:2747.290; 
}

h1{
    margin-left: 335px;
    transition: transform 0.3s ease;

}
h1:hover{
    color: rgb(151, 7, 7);

}
h2{
    transition: transform 0.3s ease;
    text-decoration: underline;
}
h2:hover{
    color: rgb(216, 63, 114);
}
a{
    color:blue;
    text-decoration: none;
}
a:hover{
    color: rgb(227, 46, 46);

}
.ul{
    list-style: none;
}


.img{
    display: block;
    border-radius: 10%;
    width: 50%;
    margin: auto;
    transition: transform 0.3s ease;
}
.img:hover{
    transform: scale(1.1);
}

.table{
    margin-left:350px;
}
.button{
    background-color: black;
    color: white ;
    padding: 7.5px 15px;
    font-size: 30px;
    border: 2px solid blue;
    transition: 0.5s all;
  }
.button:hover {
    background-color: white;
    color: black;
  }  
