.box {
  width: 100px;
  height: 100px;
  background-color: olive;
  display: inline-block;
}

.first {
  background-color: orangered;
  transform: scale(2);
  /* margin-left: 400px; */
}

h1 {
  transform: rotate(20deg);
  display: inline-block;
  border: 1px solid black;
}
