body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}
.btn{
    padding: 20px 40px;
    text-transform: uppercase;
    border: 2px solid #e91e63;
    color:#e91e63;
    text-decoration: none;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
}
.btn::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #e91e63;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    z-index: -1;

}
.btn:hover{
    color: white;
}
.btn:hover::before{
    transform: translateX(0);

}