.btn {
  border: 2px solid black;
  color: orangered;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 30px;
  background-color: white;
  transition: color 3s, background-color 1s;
}

.btn:hover {
  background-color: orangered;
  color: white;
}
