hr + p {
    color: red;
  }
  
 
  h2 ~ p {
    font-size: 20px;
  }
  
 
  footer a:hover {
    color: magenta;
  }
  
  input[type="checkbox"]:checked {
    box-shadow: 0 0 0 3px orange;
  }
  
p::selection{
    color:white;
    background-color:black;
}
  
  
  
  .blah li:nth-of-type(2n){
    background-color: magenta;
  }
button:active{
    color: pink;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
}
  p::first-letter {
    color: blue;
    font-size: 30px;
  }
